blinker==1.4
certifi==2022.12.7
commonmark==0.9.1
h2o>3.44.0.2
ipython-genutils==0.2.0
mordred==1.2.0
munkres==1.1.4
numpy==1.23.0
pandas==1.4.3
protobuf==3.20.1
psutil
pyarrow==8.0.0
pycairo==1.21.0
streamlit==1.17.0
webencodings==0.5.1
rdkit
